body{
    background-color: #121212;
}
.Album_header{
    display: flex;
    justify-content: space-between;
}
.Album_header h3{
    color: white;
}


.cardsWrapper{
    margin-top: 18px;
}

.cardsgrid{
    display: flex;
    gap: 40px;
    flex-wrap:wrap;
}

.toogleText{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #34C94B;
}
